/Hello.js
/index.html
/new.html
/node_modules
/old files
/package-lock.json
/package.json
/practical 13.js
/practical14.html
/response.json
/script.js
/sept23.html
/sept26.html
/tempCodeRunnerFile.js
/webdev_1-13.pdf
/webdev_1-14.pdf
/webdev_1-15 .pdf
/WEBDEV_ASSIGNEMNT_10.pdf
/WEBDEV_ASSIGNMENT_08.pdf
/WEBDEV_ASSIGNMENT_09.pdf
/web_dev_11.pdf